/*----HERO----*/
.links_menu{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 30px;
}
.icon_menu{
    display: none;
}
.click{
    padding: 3px 5px;
    background-color: #fff;
    }
.click:hover{
    border: 1px solid black;
}
.hero_title{
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 6rem;
    color: var(--color-fontwo); 
    transition: 2s;
}
.hero_title:hover{
    -webkit-text-stroke:2px var(--color-fontwo); 
    color: transparent;
    letter-spacing: 5px;
}
/*--GENERALES--*/

.latas_cards{
    flex-direction: row;
}
.latas_links{
    width: 30%;
}
/*----RUBIA----*/
.container_rubia{
    flex-direction: row;
    justify-content: space-between;
}
.informacion_rubia{
    width: 50%;
}
.presentaciones_container{
    width: 40%;
}
