/*----HERO----*/
.links_menu{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 30px;
}
.links_menu li a{
    font-weight: 600;
}

.icon_menu{
    display: none;
}
.click{
    box-shadow: 1px 1px 5px 2px rgba(181,180,168,1);
    padding: 3px 5px;
    background-color: rgb(228, 228, 225) ;
    transition: all 1s ;
}
.click:hover{
    font-size: 1.3rem;
}
.hero_title{
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 6rem;
    color: #fff; 
    transition: 2s;
}
.hero_title:hover{
    -webkit-text-stroke:2px #fff; 
    color: transparent;
    letter-spacing: 5px;
}
/*--GENERALES--*/

.latas_cards{
    flex-direction: row;
}
.latas_links{
    width: 30%;
}
/*----RUBIA----*/
.container_rubia{
    flex-direction: row;
    justify-content: space-between;
}
.informacion_rubia{
    width: 50%;
}
.presentaciones_container{
    width: 40%;
}
