@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/isabella-script'); /*gustito*/
@import url('https://fonts.cdnfonts.com/css/crazy-2');

@import url(./normalize.css);



@import url(./mobile.css);
@import url(./tablet.css) screen and (min-width: 768px);
@import url(./descktop.css) screen and (min-width:1024px);


                                                                                                
:root{
    --color-font: #fff;
    --font-secondary: 'Noto Sans', sans-serif;
    --color-third: #86754B;
    --font-title: 'CrazyV1', sans-serif;    /*tome menos..*/
    --bgc-body: #f1f0E4;
    --padding-section: 50px 0px;                                               

}
                                                